
@media (min-width: 350px)
{
	/* ------------------- change width*/
	.content {
		width: 316px;
		margin: 0 auto;
	}
}

@media (min-width: 430px)
{
	/* ------------------- change width*/
	.content {
		width: 396px;
	}
	.box-content{ margin: 5px 9px;}
}

@media (min-width: 490px)
{
	/* ------------------- change width*/
	.content {
		width: 456px;
	}

	.box-content{ margin: 5px 10px; }
	.color{ padding: 70px, 0px; }
}

@media (min-width: 728px)
{
	/* ------------------ show nav hide menu*/
	.menu-bar{ display: none; }
	.nav-menu{ display: none; }
	.nav-bar{ display: block; }

	/* ------------------ change width*/
	.content {
		width: 656px;
	}

	/* ----------------- change layout------about*/
	#about img{
		width: 85%;
	}

	/* ----------------- change layout------allpro*/
	#allpro .pro{
		width: 32%;
		display: inline-block;
	}

	#allpro .pro img{
		width: 95%;
	}

	/* ---------------- change layout------factory*/
	.box{
		position: relative;
		margin-bottom: 15px;
	}

	.box-img{
		width: 66%;
		margin-right: 1%;
		position: relative;
		left: 0;
	}

	.box-content{
		width: 25%;
		height: 190px;
		margin-left: 1%;
		margin-right: 1%;
		position: absolute;
		right: 0;
		bottom: 5px;
	}

	.box-content br{ display: inline; }

	/* ---------------- change layout------manage*/
	.framenarrow img{
		display: none;
	}

	.framewide img{
		display: block;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
	}

	/*  ---------------- change other size*/
	.color { padding: 90px 0px; }
}


@media (min-width: 876px)
{
	/* ---------------- change width*/
	.content {
		width: 832px;
	}

	.about img{
		width: 76%;
	}

	/* ------------------- change layout------factory*/
	.box-content{
		height: 253px;
	}
}

@media (min-width: 1000px)
{
	/* ------------------- change width*/
	.content {
		width: 960px;
	}

	/* ------------------- change layout------factory*/
	.box-img {
		width: 68%;
	}

	.box-content {
		width: 24%;
		height: 310px;
	}
}
