/* -------------------------- base styles ------------------------ */

body{
	margin: 0;
	padding: 0;
	cursor: default;
	font-size: medium;
	font-family:
		Raleway,
		STXihei,
		"华文细黑",
		"Microsoft YaHei",
		"微软雅黑",
		sans-serif;
}

#body {
	-webkit-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

h2{
	font-size: 2em;
	color: #555;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

h4{
	margin-bottom: 10px;
	font-size: 1.4em;
	color: #8a8a8a;
	font-weight: bold;
}

h3{
	margin: 0 0 5px 0;
	text-align: center;
	font-size: 1.2em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

h6{
	padding: 0;
	margin: 0 0 5px 0;
	line-height: 30px;
	text-align: center;
	color: #e74c3c;
	font-size: 1em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

p{ margin: 0; }

/* ---------------------------- layout ---------------------------- */

.nav-menu{
	display: block;
	width: 100%;
	height: 43px;
	position: fixed;
	z-index: 1;
	background-color: rgba(238, 238, 238, 0.6);
}

.nav-bar{
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	text-align: center;
}

/* ------------------- color */

.color-1{ background-color: #ecf0f1; }

.color-2{ background-color: #fff; }

#color-3{ background-color: #212c37; }

.color{
	padding: 60px 0;
	text-align: center;
}

.content{
	width: 296px;
	margin: 0 auto;
}

#about img,
.pro img,
.box img{
	width: 95%;
}

/* ------------------- title */
.content .title{ margin: 5px 0px 35px; }

/* ------------------- footer */
#footer{
	/*text-align: center;*/
}

/* ----------------------------- nav -----------------------------*/

/* menu-bar
 ----------------------------------- */

/* toggle type */
#toggle{
	margin: 0;
	padding: 10px 0;
	width: 40px;
	height: 13px;
	cursor: pointer;
	background-color: #e8e8e8;
	border-radius: 5px;
	z-index: 11;
}

#toggle div:first-child{ margin: 0 auto; }

#toggle div{
	max-width: 16px;
	height: 3px;
	margin: 2px auto 0;
	background-color: #e74c3c;
}

/* menu type */
#menu{
	position: relative;
	/*left: -205px;*/
	background-color: rgba(238, 238, 238, 0.8);
	transition: all 0.3s ease-in-out 0.1s;
	-webkit-transform: translate3d(-205px, 0px, 0px);
	-ms-transform: translate3d(-205px, 0px, 0px);
	-o-transform: translate3d(-205px, 0px, 0px);
	transform: translate3d(-205px, 0px, 0px);
}

#menu li{
	display: inline-block;
	float: left;
	clear: both;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: rgba(230, 230, 230, 0.8);
}

#menu li:first-child{
	padding-left: 204px;
	width: 100%;
	height: 43px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
}

#menu p{ margin: 66px 11px 0px;}
#menu img{ width: 66px; }

#menu li:last-child{
	width: 204px;
	height: 1200px;
	text-align: center;
}

#btn{
	border-left: 1px solid #ccc;
	padding: 5px 0 5px 5px;
}

#menu li a{
	width: 68px;
	height: 43px;
	line-height: 43px;
	padding: 0px 86px 0px 50px;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	color: #666;
	display: block;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
#menu li a:hover{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 6px 0px 3px 0 #ccc inset;
}

#menu .actived{
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 6px 0px 3px 0 #ccc inset;
}

/* nav-bar
 ----------------------------------- */

.nav-bar{
	background-color: rgba(0, 0, 0, 0.6);
}
.logo{
	height: 41px;
	display: block;
	float: left;
	cursor: pointer;
}

.logo img{
	width: 40px;
	height: 30px;
	margin: 6px 0px 5px 10px;
}

#nav{
	display: block;
	padding: 0 15px;
	height: 41px;
}

#nav li:first-child{
	border-top: 0px;
}

#nav li{
	width: 80px;
	border-bottom: 0px;
	display: inline-block;
}

#nav li a{
	width: 80px;
	height: 41px;
	line-height: 41px;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
	display: block;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}

#nav li a:hover{ background-color: #e74c3c; }

#nav .selected{ background-color: #e74c3c; }

/* ------------------------------ about ------------------------ */

#about img{
	margin: 5px 8px 35px;
}

#about h1{
	margin-bottom: 15px;
	line-height: 1.2;
	color: #555;
	font-size: 2.4em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

#about div{
	padding: 0;
	margin-bottom: 10px;
	color: #8a8a8a;
	font-size: 1.65em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

#about p{
	margin: 0;
	font-weight: bold;
	font-style: italic;
}

/* ------------------------------- allpro ------------------------- */

#allpro .pro img{
	margin: 8px 8px 23px;
}

/* ------------------- category */
.type{ padding-top: 40px; }

.category{
	padding-bottom: 25px;
	margin-left: 2%;
	margin-right: 2%;
	position: relative;
	border-bottom: 1px solid #e74c3c;
}

.category .name{
	padding: 0px;
	position: absolute;
	left: 0px;
	font-weight: bold;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

.category a{
	color: #222;
	padding: 0;
	position: absolute;
	right: 0px;
	bottom: 5px;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px solid #222;
	font-size: 0.9em;
	font-weight: bold;
}

.category a:visited{
	color: #777;
	border-bottom: #777;
}

/* ------------------------------ factory ------------------------ */

.box{ margin-bottom: 35px; }
.box:last-child{ margin-bottom: 0px; }

.box-img img{
	margin: 5px;
}

.box-content{
	padding: 20px;
	margin: 5px 8px;
	text-align: left;
	color: #fff;
	background-color: #e74c3c;
}

.box-content h3{
	text-align: left;
	font-size: 1.5em;
	font-family:
	STXihei,
	"华文细黑",
	sans-serif;
}

.box-content p{
	padding: 5px 0;
	margin-bottom: 5px;
	line-height: 30px;
	font-size: 107%;
	font-family:
	"Raleway",
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

.box-content br{ display: none; }

/* ---------------------------- manage ---------------------------- */

.framenarrow img{
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}
.framewide img{
	display: none;
}

/* --------------------------- contact ------------------------- */

.contact-text{
	color: #555;
	text-align: left;
	font-size: 1.8em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}

.contact-text p{
	margin: 0 11px 35px 11px;
	word-wrap: break-word;
}

/* --------------------------- footer -------------------------- */

.foot-text{
	color: #fff;
	margin: 5px 8px;
	font-size: 1.1em;
	font-family:
	"Microsoft YaHei",
	"微软雅黑",
	sans-serif;
}








